
<div class="container">

<h1>@<%= current_user.username %>'s Twitter Feed</h1>

<%= render 'tweets/form', tweet: @tweet %>


<div>
  <% @following_tweets.each do |tweet| %>
    <div class="well">
      <p>
        <%= image_tag tweet.user.avatar.url, size: 50, class: "user-pic-nav" %>
        <%= link_to tweet.user.name, show_user_path(id: tweet.user_id) %>
        @<%= link_to tweet.user.username, show_user_path(id: tweet.user_id) %>
        • <%= time_ago_in_words(tweet.created_at) if Time.now - tweet.created_at < 86400 %>
          <%= tweet.created_at.strftime('%b%e') if Time.now - tweet.created_at > 86400 %>
      </p>
      <p><%= tweet.message.html_safe %></p>
    </div>
  <% end %>
